@font-face {
    font-family: 'ACRF';
    src: url('../fonts/acrf-regular-webfont.eot');
    src: url('../fonts/acrf-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/acrf-regular-webfont.woff2') format('woff2'),
         url('../fonts/acrf-regular-webfont.woff') format('woff'),
         url('../fonts/acrf-regular-webfont.ttf') format('truetype'),
         url('../fonts/acrf-regular-webfont.svg#acrf_betaregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Brown';
    src: url('../fonts/brown-regular-webfont.eot');
    src: url('../fonts/brown-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/brown-regular-webfont.woff2') format('woff2'),
         url('../fonts/brown-regular-webfont.woff') format('woff'),
         url('../fonts/brown-regular-webfont.ttf') format('truetype'),
         url('../fonts/brown-regular-webfont.svg#brownregular') format('svg');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'Brown';
    src: url('../fonts/brown-bold-webfont.eot');
    src: url('../fonts/brown-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/brown-bold-webfont.woff2') format('woff2'),
         url('../fonts/brown-bold-webfont.woff') format('woff'),
         url('../fonts/brown-bold-webfont.ttf') format('truetype'),
         url('../fonts/brown-bold-webfont.svg#brownbold') format('svg');
    font-weight: bold;
    font-style: normal;

}

@font-face {
    font-family: 'Brown';
    src: url('../fonts/brown-light-webfont.eot');
    src: url('../fonts/brown-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/brown-light-webfont.woff2') format('woff2'),
         url('../fonts/brown-light-webfont.woff') format('woff'),
         url('../fonts/brown-light-webfont.ttf') format('truetype'),
         url('../fonts/brown-light-webfont.svg#brownlight') format('svg');
    font-weight: lighter;
    font-style: normal;

}

@keyframes dash {
  0%   {right: 12px;}
  25%  {right: 9px;}
  50%  {right: 12px;}
  75%  {right: 15px;}
  100% {right: 12px;}
}

.tax-calculator {
  position: relative;
  z-index: 1;
  width: 100%;
  background: transparent url(../images/background-mobile.jpg) repeat-y;
  background-size: 100%;
  font-family: 'Brown', 'Lato', Arial, Helvetica, sans-serif;
  margin-bottom: 200px;
}

.tax-calculator:before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: transparent url(../images/background-mobile-top.jpg) top center no-repeat;
  background-size: 100%;
  z-index: 2;
}

.tax-calculator:after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: transparent url(../images/background-mobile-bottom-hr.jpg) bottom center no-repeat;
  background-size: 100%;
  z-index: 2;
}

.tax-calculator a{
  outline: none!important;
}

.tax-calculator .calculator-frame {
  opacity: 0;
  visibility: hidden;
  display: none;
  -webkit-transition: opacity 3s;
  transition: opacity 3s;
  padding: 18% 8%;
  position: relative;
  z-index: 3;
}

.tax-calculator .calculator-frame-active {
  opacity: 1;
  visibility: visible;
}

.tax-calculator .calculator-result {
  display: none;
}

.tax-calculator .calculator-result-active {
  display: block;
}

.tax-calculator .calculator-title {
  font-family: 'ACRF', 'Lato', Arial, Helvetica, sans-serif;
  font-size: 22px;
  line-height: 25px;
  color: #4a4a4a;
  padding-bottom: 14px;
}

.tax-calculator .calculator-title span{
  color: #2dcdd2;
}

.tax-calculator .calculator-text {
  font-size: 16px;
  line-height: 18px;
  color: #4a4a4a;
}

.tax-calculator .calculator-text br{
  display: none;
}

.tax-calculator .calculator-cta {
  padding-top: 20px;
  padding-bottom: 20px;
}

.tax-calculator .calculator-cta:after {
  content: "";
  display: table;
  clear: both;
}

.tax-calculator .calculator-cta-centred {
  opacity: 0;
  -webkit-transition: opacity 1000ms;
  transition: opacity 1000ms;
  -webkit-transition-delay: 1s;
  transition-delay: 1s;
}

.tax-calculator .calculator-frame-active .calculator-cta-centred{
  opacity: 1;
}

.tax-calculator .calculator-dropdown {
  width: 185px;
  height: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  position: relative;
}

.tax-calculator .dropdown-options{
  position: absolute;
  top: 0;
  left: 0;
  width: 185px;
  height: 35px;
  box-sizing: border-box;
  border-radius: 17px;
  border: 1px solid #2dcdd2;
    -webkit-transition: height 500ms;
    transition: height 500ms;
  overflow: hidden;
}

.tax-calculator .calculator-dropdown-open .dropdown-options {
  z-index: 99;
}

.tax-calculator .calculator-income .dropdown-options,
.tax-calculator .calculator-income .calculator-arrow {
  z-index: 98;
}

.tax-calculator .calculator-donation .dropdown-options,
.tax-calculator .calculator-donation .calculator-arrow {
  z-index: 97;
}

.tax-calculator .calculator-income.calculator-dropdown-open .dropdown-options {
  height: auto;
}

.tax-calculator .calculator-donation.calculator-dropdown-open .dropdown-options {
  height: auto;
}

.tax-calculator .dropdown-option{
  width: 183px;
  height: 33px;
  box-sizing: border-box;
  padding: 8px 14px 6px 14px;
  font-weight: lighter;
  text-align: center;
  font-size: 15px;
  line-height: 19px;
  color: #2dcdd2;
  background-color: #fff;
  position: relative;
}

.tax-calculator .dropdown-option:last-child{
  padding-bottom: 8px;
  height: 35px;
}

.tax-calculator .dropdown-option:hover {
  color: #fff;
  background-color: #2dcdd2;
}

.tax-calculator .dropdown-option:before{
  content: '';
  position: absolute;
  top: 0;
  left: 6px;
  right: 6px;
  height: 1px;
  background-color: #c0f0f1;
}

.tax-calculator .dropdown-option:hover {
  color: #fff;
  background-color: #2dcdd2;
}

.tax-calculator .dropdown-option:hover:before {
  background-color: #2dcdd2;
}

.tax-calculator .dropdown-value{
  font-weight: bold;
  text-align: left;
  line-height: 15px;
}

.tax-calculator .dropdown-value:before{
  display: none;
}


.tax-calculator .dropdown-value:hover {
  color: #2dcdd2;
  background-color: #fff;
}

.tax-calculator .calculator-arrow {
  position: absolute;
  width: 12px;
  height: 12px;
  top: 7px;
  right: 12px;
}

.tax-calculator .calculator-button{
  width: 185px;
  height: 35px;
  box-sizing: border-box;
  border: 1px solid #2dcdd2;
  border-radius: 17px;
  padding: 6px 12px 10px 12px;
  font-weight: bold;
  font-size: 15px;
  line-height: 19px;
  background: #2dcdd2;
  color: #fff;
  cursor: pointer;
  position: relative;
}

.tax-calculator .calculator-button a,
.tax-calculator .calculator-button span {
  color: #fff;
  text-decoration: none;
  display: block;
  line-height: 19px;
}

.tax-calculator .calculator-button a:hover{
  color: #fff!important;
}

.tax-calculator .calculator-button-inverse{
  background: #fff;
  color: #2dcdd2;
}

.tax-calculator .calculator-button-inverse a,
.tax-calculator .calculator-button-inverse span {
  color: #2dcdd2;
}

.tax-calculator .calculator-button-inverse a:hover{
  color: #2dcdd2!important;
}

.tax-calculator .calculator-button:hover .calculator-arrow {
    -webkit-animation: dash 500ms ease-in-out 2 forwards;
    -moz-animation: dash 500ms ease-in-out 2 forwards;
    -ms-animation: dash 500ms ease-in-out 2 forwards;
    -o-animation: dash 500ms ease-in-out 2 forwards;
    animation: dash 500ms ease-in-out 2 forwards;
}

.tax-calculator .calculator-donate {
  margin-bottom: 14px;
}

.tax-calculator .calculator-return {
  display: block;
  font-family: 'ACRF', 'Lato', Arial, Helvetica, sans-serif;
  font-size: 22px;
  line-height: 25px;
  color: #565c5c;
  padding-bottom: 20px;

}

.tax-calculator .calculator-quote {
  font-family: 'ACRF', 'Lato', Arial, Helvetica, sans-serif;
  font-size: 22px;
  line-height: 25px;
  color: #2dcdd2;
}


  @media only screen and (min-width: 795px) { 
  .tax-calculator {
    padding-top: 61%;
    background: transparent url(../images/background-tablet-hr.jpg) no-repeat;
    background-size: cover;
    position: relative;
    } 

    .tax-calculator .calculator-frame {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      padding: 12% 12% 11% 12%;
    }

  .tax-calculator:before,
  .tax-calculator:after {
    display: none;
  }

    .tax-calculator .calculator-title {
      font-size: 38px;
      line-height: 40px;
      padding-bottom: 16px;
    }

    .tax-calculator .calculator-text {
      font-size: 24px;
      line-height: 26px;
  }

  .tax-calculator .calculator-cta {
      padding-top: 26px;
    padding-bottom: 0;
  }

    .tax-calculator .calculator-dropdown{
      float: left;
        margin-bottom: 0;
        margin-right: 12px;
    }

    .tax-calculator .calculator-button {
      float: left;
    }

    .tax-calculator .calculator-return,
    .tax-calculator .calculator-quote {
        font-size: 36px;
    line-height: 38px;
    }

    .tax-calculator .calculator-donate {
      margin-bottom: 0;
      margin-right: 14px;
  }
}

  @media only screen and (min-width: 905px) { 
    .tax-calculator .calculator-frame {
      padding: 16% 12% 11% 12%;
    }

  }

  @media only screen and (min-width: 970px) { 
  .tax-calculator {
    padding-top: 53.7%;
    background: transparent url(../images/background-hr.jpg) no-repeat;
    background-size: cover;
    } 

    .tax-calculator .calculator-frame {
      padding: 11% 17% 10% 17%;
    }

  .tax-calculator .calculator-title {
    font-size: 45px;
    line-height: 45px;
    padding-bottom: 34px;
  }

  .tax-calculator .calculator-text {
    font-size: 21px;
    line-height: 24px;
    color: #4a4a4a;
  }

  .tax-calculator .calculator-text br{
    display: block;
  }

  .tax-calculator .calculator-cta {
    padding-top: 39px;
  }

  .tax-calculator .calculator-cta-centred {
    position: absolute;
    bottom: 95px;
    left: 50%;
    width: 384px;
    margin-left: -192px;
    padding: 0;
  }

  .tax-calculator .calculator-return {
    font-size: 39px;
    line-height: 39px;
    padding-bottom: 20px;

  }

  .tax-calculator .calculator-quote {
    font-size: 39px;
    line-height: 39px;
  }
}
